<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Fonte pública oficial -->
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />

		<!-- Feeds privados da UiPath -->
		<add key="UiPath-Official" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" />
		<add key="UiPath-Internal" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<!-- Pacotes públicos do NuGet.org -->
		<packageSource key="NuGet">
			<package pattern="*" />
			<!-- garante que System.* venha do NuGet -->
		</packageSource>

		<!-- Pacotes da UiPath -->
		<packageSource key="UiPath-Official">
		  <package pattern="System.Activities.ViewModels" />
		  <package pattern="UiPath.Activities.Api" />
		</packageSource>

		
		<packageSource key="UiPath-Internal">
			<!-- Liste aqui apenas os pacotes internos específicos -->
			<package pattern="System.Activities.Metadata" />
			<package pattern="UiPath.Workflow" />
			<!-- adicione outros conforme necessário -->
		</packageSource>
	</packageSourceMapping>
</configuration>